.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 5px;
  gap: 10px;
  font-variant-numeric: tabular-nums;
}

.length {
  color: var(--gray);
  font-size: 0.5em;
}
