.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;
  font-variant-numeric: tabular-nums;
}

.row {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.small {
  color: var(--gray);
  font-size: 0.75em;
}
