.debug {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.debug > :nth-child(odd) {
  font-weight: bold;
}

.debug > :nth-child(even) {
  overflow: auto;
  white-space: pre;
  overflow-wrap: anywhere;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
