.top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.top > :first-child {
  max-width: 300px;
}

.top > :last-child {
  flex-grow: 1;
}

@media (max-width: 600px) {
  .top {
    flex-direction: column;
  }
}
