.top {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 40px;
}

.top > * {
  height: 180px;
  overflow: hidden;
  border: var(--border);
  border-radius: var(--rounded);
}

@media (max-width: 600px) {
  .top {
    flex-direction: column;
  }
}
