.container {
  position: relative;
}

.button {
  position: absolute;
  top: 0;
  right: 0;
}

.sentences {
  display: grid;
  grid-template-columns: 1fr;
  height: 140px;
  padding: 10px;
  overflow-y: auto;
  resize: vertical;
}

.words {
  padding: 0 10px;
}

.word {
  position: relative;
  transition-duration: 0.5s;
  transition-property: color, background, opacity;
}

.past {
  color: var(--primary);
}

.present {
  color: var(--secondary);
}
