.sentences {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
}

.words {
  padding: 0 10px;
}

.past {
  color: var(--primary);
}

.present {
  color: var(--secondary);
  text-decoration: underline;
  text-underline-offset: 5px;
}

.future {
  color: var(--gray);
}
