.container {
  position: relative;
}

.button {
  position: absolute;
  top: 0;
  right: 0;
}

.sentences {
  display: grid;
  grid-template-columns: 1fr;
  height: 140px;
  padding: 10px;
  overflow-y: auto;
  resize: vertical;
}

.words {
  padding: 0 10px;
}

.word {
  position: relative;
  border-bottom: solid 2px transparent;
  /* causes slowdown in safari due to many elements */
  /* transition-duration: 0.25s; */
  /* transition-property: color, background; */
}

.word::before {
  position: absolute;
  inset: -2px;
  border-bottom: solid 2px transparent;
  content: "";
  pointer-events: none;
  /* transition-duration: 0.25s; */
  /* transition-property: border-color; */
}

.past {
  color: var(--primary);
}

.present {
  color: var(--secondary);
}

.present::before {
  border-color: var(--secondary);
}
