.tracks {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: min-content 1fr;
  width: 100%;
  border: var(--border);
  border-radius: var(--rounded);
}

.track {
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.track:not(:last-child) {
  border-bottom: var(--border);
}

.label {
  display: flex;
  grid-column: 1 / span 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0;
  min-height: 100%;
  padding: 5px;
  overflow: hidden;
  gap: 5px;
  border-right: var(--border);
}

.track:last-child > .label {
  width: 150px;
  min-width: 120px;
  overflow: hidden;
  resize: horizontal;
}

.label input {
  text-align: center;
}

.name {
  padding: 5px 10px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.waveform {
  grid-column: 2 / span 1;
  height: 100px;
  min-height: 80px;
  max-height: 500px;
  overflow: hidden;
  resize: vertical;
}

.waveform > * {
  isolation: isolate;
}
