:root {
  --primary: #00ade6;
  --secondary: #ff1493;
  --primary-light: color-mix(in srgb, var(--primary), var(--white) 50%);
  --secondary-light: color-mix(in hsl, var(--secondary), var(--white) 50%);

  --white: #ffffff;
  --light-gray: #e8f0f0;
  --gray: #a8b0b0;
  --dark-gray: #687070;
  --off-black: #485050;
  --black: #000000;
  --shadow: #00000020;

  --warning: rgb(255, 200, 0);
  --border: solid 1px var(--gray);
  --rounded: 3px;
  --fast: 0.2s ease;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  gap: 20px;
}

p {
  line-height: 2;
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--secondary);
}

label {
  display: inline-flex;
  position: relative;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

input {
  min-width: 0;
  font: inherit;
}

[disabled] {
  filter: saturate(0);
  pointer-events: none;
}

.tippy-box {
  padding: 10px 15px;
  border-radius: var(--rounded);
  background: var(--off-black);
  color: var(--white);
  font-size: 1rem;
}

.tippy-arrow {
  z-index: 99;
  color: var(--off-black);
}

.tippy-content {
  max-width: 200px;
  padding: 0;
}

.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

:not(html) ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 999px;
  background-color: var(--light-gray);
}

:not(html) ::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-color: var(--gray);
}
