.sentences {
  display: grid;
  grid-template-columns: 1fr;
  overflow-y: auto;
  max-height: 300px;
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 10px;
}

.words {
  padding: 0 10px;
}

.word {
  display: inline-block;
  transition-duration: 0.5s;
  transition-property: color, scale;
}

.past {
  color: gray;
}

.present {
  color: red;
  scale: 1.1;
}

.future {
  color: black;
}
