.sentences {
  display: grid;
  grid-template-columns: 1fr;
  overflow-y: auto;
  height: 200px;
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 10px;
  resize: vertical;
}

.words {
  padding: 0 10px;
}

.word {
  transition-duration: 0.5s;
  transition-property: color, background, opacity;
  position: relative;
}

.past {
  color: deepskyblue;
}

.present {
  color: deeppink;
}

.future {
  color: black;
}
